/* CUSTOM PROPERTIES */
:root {
    --primary-background-color:#F2EDE8;
    --primary-text:#121212;
    --secondary-text:#4A4A4A;
    --xxlg-size: 3rem;
    --xlg-size: 1.4rem;
    --lg-size: 1.4rem;
    --md-size: 1.25rem;
    --sm-size: 1.06rem;
   --border-width: 2px;
}

@media screen and (max-width: 768px) {
  :root {
    --xxlg-size: 2.5rem;
    --xlg-size: 1.4rem;
    --lg-size: 1.2rem;
    --md-size: 1.1rem;
    --sm-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --xlg-size: 1.8rem;
  }}

  @media screen and (min-width: 1400px) {
    :root {
        --border-width: 2.8px;
      }
}

@media screen and (min-width: 1600px) {
    :root {
        --xxlg-size: 4cqw;
        --xlg-size:2cqw;
        --lg-size: 1.6cqw;
        --md-size: 1.4cqw;
        --sm-size: 1.2cqw;
        --border-radius:0.6rem;
        --border-width: 2.5px;
      }
}
@media screen and (min-width: 2200px) {
  :root {
      --border-width: 3.5px;
    }
}
@media screen and (min-width: 2400px) {
  :root {
      --border-width: 4px;
    }
}
@media screen and (min-width: 2800px) {
  :root {
      --border-width: 5px;
    }
}

@font-face{
    font-family: ViceCitySans;
    src: url(ViceCitySans.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, main{
    background-color: var(--primary-background-color);
  }

  main{
    margin: 5%;
  }

  img {
    max-width: 100%;
    height: auto;

  }

  li {
    list-style: none;
}

h1{
    font-family: ViceCitySans;
    color: var(--primary-text);
    font-size: var(--xxlg-size);
    font-weight: lighter;
}
h2{    
  font-family: ViceCitySans;
  color: var(--primary-text);
    font-size: var(--lg-size);
    font-weight: lighter;
}
h3{
  font-family: monospace;
  color: var(--primary-text);
  font-size: var(--lg-size);
  font-weight: bold;
}

p, a{
    font-family: monospace;
}

p{
    font-size: var(--md-size);
    color: var(--secondary-text);
    max-width: 52ch;
    line-height: 3ch;
}

a{
    font-size: var(--lg-size);
    color: var(--primary-text);
    text-decoration: none;
}



#scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  padding: 5px 10px 5px 10px ;
  color: var(--primary-text);
  background-color: var(--primary-background-color);
  border: solid var(--border-width) var(--primary-text);
}

#scroll-to-top:hover{
  text-decoration: underline;
}