---
import Category from "../components/Category.astro";
import MainLayout from "../layouts/MainLayout.astro";
const data = await fetch(
  "https://zrqwsjrdghmwozsehhqi.supabase.co/rest/v1/weddings",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpycXdzanJkZ2htd296c2VoaHFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDExODgxODMsImV4cCI6MjAxNjc2NDE4M30.BVKAAITqwnmB1WGmxQTsrXODZLewF_aUvVLRIkcdtgQ",
    },
  }
).then((res) => res.json());
---

<MainLayout title="Weddings">
  <h1>WEDDINGS</h1>
  {
    data.map((category) => {
      return <Category data={category} />;
    })
  }
</MainLayout>
<style>
  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0.5rem;
  }
</style>
