---

---

<footer>
  <!-- <div class="hero">
        <a href="/#" class="nav_hero">
          <img src="/hero.svg" alt="Nicolai Lorenzen" />
        </a>
      </div> -->
  <div class="streg">
    <hr />
  </div>
  <div id="footer">
    <p>(45) 2855 2278</p>
    <div class="logo">
      <a href="/#" class="foot_logo">
        <img src="/logo.svg" alt="Nicolai Lorenzen lightning logo" />
      </a>
    </div>
    <p>yello@nicolailorenzen.com</p>
  </div>
  <div class="streg">
    <hr />
  </div>
</footer>

<style>
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    #footer {
      grid-template-columns: 1fr;
    }
  }
</style>
