---

---

<footer>
  <div id="footer">
    <div class="social">
      <a href="/#">Instagram</a>
      <a
        href="https://dk.linkedin.com/in/nicolai-lorenzen-a74654b3"
        target="_blank">Linkdin</a
      >
      <a href="/#">Facebook</a>
    </div>
    <div class="contact">
      <a href="mailto:yello@nicolailorenzen.com?subject=CUSTOMER%20SERVICE"
        >yello@nicolailorenzen.com</a
      >
      <a href="tel:+4528552278">+45 28552278</a>
    </div>
  </div>
  <div class="copy">
    <a class="copy" href="/">NICOLAI LORENZEN &copy;</a>
  </div>
</footer>

<style>
  footer {
    border-top: solid var(--border-width) var(--primary-text);
    border-bottom: solid var(--border-width) var(--primary-text);
    padding: 5%;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    #footer {
      grid-template-columns: 1fr;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 1rem;
    font-size: var(--sm-size);
    color: var(--secondary-text);
  }

  .copy {
    display: flex;
    justify-content: center;
    font-family: ViceCitySans;
    padding-top: 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
