---
import Nav from "./Nav.astro";
---

<header>
  <div>
    <a href="/">NICOLAI LORENZEN</a>
  </div>
  <Nav />
</header>

<style>
  a {
    display: flex;
    justify-content: center;
    font-size: 8cqw;
    text-decoration: none;
    font-family: ViceCitySans;
  }
  div {
    padding: 1rem;
  }
</style>
