---
import Nav from "./Nav.astro";
---

<header>
  <!-- <div class="hero">
      <a href="/#" class="nav_hero">
        <img src="/hero.svg" alt="Nicolai Lorenzen" />
      </a>
    </div> -->
  <div>
    <h1>Nicolai Lorenzen</h1>
  </div>
  <div class="streg">
    <hr />
  </div>
  <Nav />
  <div class="streg">
    <hr />
  </div>
</header>
