---
import Nav from "./Nav.astro";
---

<header>
  <div>
    <h1>
      <a href="/">NICOLAI LORENZEN</a>
    </h1>
  </div>
  <Nav />
</header>

<style>
  a {
    display: flex;
    justify-content: center;
    /* padding: 1rem; */
    font-size: 8cqw;
    text-decoration: none;
  }
</style>
