---
import Nav from "./Nav.astro";
---

<header>
  <div>
    <h1>NICOLAI LORENZEN</h1>
  </div>
  <Nav />
</header>

<style>
  h1 {
    text-align: center;
    padding: 1rem;
    font-size: 8cqw;
  }
</style>
