---
import Nav from "./Nav.astro";
---

<header>
  <div>
    <a class="nico" href="/">NICOLAI LORENZEN</a>
  </div>
  <Nav />
</header>

<style>
  .nico {
    display: flex;
    justify-content: center;
    font-size: 8cqw;
    font-family: ViceCitySans;
  }
  div {
    padding: 1rem;
  }
</style>
