---
const { data } = Astro.props;
---

<nav>
  <ul>
    <div class="grid">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/book">Book</a>
      </li>
    </div>
    <li class="work" id="workItem">
      <div class="fold" id="foldContainer">
        <a href="#">Work</a>
        <img src="/fold_icon.svg" alt="folding icon" />
      </div>
      <ul>
        <a href="/">Portraits</a>
        <a href="/weddings">Weddings</a>
        <a href="/cowboys">Cowboys</a>
        <a href="/texas">Texas</a>
        <a href="/mikeshouse">Mike's House</a>
        <a href="/business">Business</a>
      </ul>
    </li>
  </ul>
</nav>

<style>
  img {
    width: 20%;
  }
  nav {
    padding: 15px;
    text-align: center;
    border: 2px solid var(--primary-text);
  }

  ul {
    background-color: var(--primary-background-color);
  }

  nav a {
    padding: 15px;
    display: inline-block;
    position: relative;
  }

  .grid::after {
    content: "";
    position: absolute;
    height: 84px;
    border-right: 2px solid var(--primary-text);
    top: -15px;
    right: 0;
  }
  @media (min-width: 768px) {
    .grid::after {
      height: 86px;
    }
  }

  nav li {
    position: relative;
  }

  nav li:first-child a::after {
    border: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  nav ul ul {
    display: none;
    position: absolute;
    top: 128%;
    left: 17px;
    border: 2px solid var(--primary-text);
  }
  @media (min-width: 500px) {
    nav ul ul {
      top: 128%;
      left: -114px;
      width: 300px;
    }
  }

  nav li:last-child a::after {
    border: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -50px;
    gap: 2em;
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      left: -80px;
      gap: 3em;
    }
  }

  .work {
    position: relative;
    left: -10px;
  }
  .fold {
    display: flex;
  }
  .fold.clicked img {
    rotate: 180deg;
  }
</style>

<script src="../js/fold.js"></script>
