---
const { data } = Astro.props;
---

<nav>
  <ul>
    <div class="grid">
      <li>
        <a class="xlg_size" href="/about">About</a>
      </li>
      <li class="book">
        <a class="xlg_size" href="/book">Book</a>
      </li>
    </div>
    <li id="workItem">
      <div class="fold" id="foldContainer">
        <a class="xlg_size" id="work" href="#">Work</a>
        <img class="icon" src="/fold_icon.svg" alt="folding icon" />
      </div>
      <ul>
        <a href="/">Portraits</a>
        <a href="/weddings">Weddings</a>
        <a href="/cowboys">Cowboys</a>
        <a href="/texas">Texas</a>
        <a href="/mikeshouse">Mike's House</a>
        <a href="/business">Business</a>
      </ul>
    </li>
  </ul>
</nav>

<style>
  img {
    width: 3cqw;
    max-width: 100px;
  }
  @media (min-width: 768px) {
    img {
      width: 1.5cqw;
      max-width: 100px;
    }
  }

  nav {
    padding: 2%;
    border: solid var(--border-width) var(--primary-text);
  }

  ul {
    background-color: var(--primary-background-color);
  }

  a {
    padding: 15px;
    display: inline-block;
    position: relative;
  }
  @media (min-width: 768px) {
    a {
      padding: 1rem;
    }
  }
  @media (min-width: 2200px) {
    a {
      padding: 2rem;
    }
  }

  .grid::after {
    content: "";
    position: absolute;
    height: 135%;
    border-right: solid var(--border-width) var(--primary-text);
    top: -10px;
    right: 0;
  }
  nav li {
    position: relative;
  }

  nav li:first-child a::after {
    border: none;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  nav ul ul {
    display: none;
    position: absolute;
    right: -38%;
    top: 117%;
    border: solid var(--border-width) var(--primary-text);
  }
  @media (min-width: 450px) {
    nav ul ul {
      right: -48%;
    }
  }
  @media (min-width: 500px) {
    nav ul ul {
      right: -52%;
    }
  }
  @media (min-width: 600px) {
    nav ul ul {
      right: -100%;
      width: 300%;
      top: 124%;
      text-align: center;
    }
  }
  @media (min-width: 800px) {
    nav ul ul {
      top: 126%;
    }
  }
  @media (min-width: 900px) {
    nav ul ul {
      top: 129%;
    }
  }
  @media (min-width: 1000px) {
    nav ul ul {
      top: 132%;
    }
  }
  @media (min-width: 1100px) {
    nav ul ul {
      top: 134%;
    }
  }
  @media (min-width: 1400px) {
    nav ul ul {
      top: 146%;
    }
  }
  @media (min-width: 1800px) {
    nav ul ul {
      top: 150%;
    }
  }
  @media (min-width: 2200px) {
    nav ul ul {
      top: 140%;
    }
  }
  @media (min-width: 3000px) {
    nav ul ul {
      top: 152%;
    }
  }
  @media (min-width: 3500px) {
    nav ul ul {
      top: 151%;
    }
  }
  nav li:last-child a::after {
    border: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -5%;
    gap: 2em;
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      left: -8%;
      gap: 3em;
    }
  }
  .fold {
    display: flex;
  }
  .fold.clicked img {
    rotate: 180deg;
  }

  .icon {
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  #work {
    margin-left: -8%;
  }
  @media (min-width: 768px) {
    #work {
      margin-left: -18%;
    }
  }
  .book {
    margin-left: -25%;
  }
  @media (min-width: 768px) {
    .book {
      margin-left: 0;
    }
  }

  .xlg_size {
    font-size: var(--xlg-size);
  }
</style>

<script src="../js/fold.js"></script>
