---
import FoldMenu from "./FoldMenu.astro";
const { data } = Astro.props;
---

<nav>
  <div class="nav">
    <div class="grid">
      <a class="xlg_size" href="/about">About</a>
      <a id="book" class="xlg_size" href="/book">Book</a>
    </div>
    <div class="work_container" id="workItem">
      <div class="fold" id="foldContainer">
        <a class="xlg_size" id="work" href="#">Work</a>
        <img
          class="icon"
          src="/fold_icon.svg"
          alt="folding icon"
          width="1000"
          height="1000"
        />
      </div>
      <FoldMenu />
    </div>
  </div>
</nav>

<style>
  img {
    width: 3cqw;
    max-width: 100px;
  }
  @media (min-width: 768px) {
    img {
      width: 1.5cqw;
      max-width: 100px;
    }
  }

  nav {
    padding: 2%;
    border-top: solid var(--border-width) var(--primary-text);
    border-bottom: solid var(--border-width) var(--primary-text);
  }

  a {
    padding: 15rem;
  }
  @media (min-width: 768px) {
    a {
      padding: 1rem;
    }
  }
  @media (min-width: 2200px) {
    a {
      padding: 2rem;
    }
  }

  .grid::after {
    content: "";
    position: absolute;
    height: 100%;
    border-right: solid var(--border-width) var(--primary-text);
    right: 0;
  }
  a,
  .work_container {
    position: relative;
  }

  nav li:first-child a::after {
    border: none;
  }

  .nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  nav li:last-child a::after {
    border: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -5%;
    gap: 2em;
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      left: -8%;
      gap: 3em;
    }
  }
  .fold {
    display: flex;
  }
  .fold.clicked img {
    rotate: 180deg;
  }

  .icon {
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  #work {
    margin-left: -8%;
  }
  @media (min-width: 768px) {
    #work {
      margin-left: -18%;
    }
  }
  #book {
    margin-left: -25%;
  }
  @media (min-width: 768px) {
    #book {
      margin-left: 0;
    }
  }
  .xlg_size {
    font-size: var(--xlg-size);
  }
</style>
<script src="../js/fold.js"></script>
